# Dependencies
node_modules/
env/
venv/
.venv/
package-lock.json

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Compiled files
*.so
*.dll
*.exe

# Output files
output/
results/
data/bizsense.db
data/datasets/
